{{#each data}}
  <div class="container">
    <div id="mainProductos">
      <div class="w3-row w3-grayscale">
        <div class="w3-container">
          <img src="{{product_img}}" style="width:100%">
          <p>{{producto_descripcion}}<br><b>{{producto_precio}}</b></p>
        </div>
      </div>
    </div>
    <div id="asideCarrito">
    </div>
  </div>
{{/each}}