<main class="p-5 text-light mt-auto">
  <h1>Servidor dedicado para sus aplicaciones</h1>
  <p class="lead">Limitese a crear, nosotros hacemos el resto</p>
  <p class="lead">
    <a class="btn btn-lg btn-dark mt-3" href="#/tienda">
      Ver planes <i class="bi bi-arrow-right"></i>
    </a>
  </p>
</main>