<div class="saludo">
  <div id="">
    Servidor dedicado para sus aplicaciones <br>
    <i class="bi-bi-terminal"></i>
    <button class="btn btn-lg btn-dark mt-3">
      Ver planes <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>